SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET
SPOTIFY_REDIRECT_URI=YOUR_SPOTIFY_REDIRECT_URI
TICKETTICKETMASTER_API_KEY=your_consumer_key_here
SESSION_SECRET=YOUR_SESSION_SECRET_KEY
VITE_API_URL=YOUR_VITE_API_URL